.container {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.mainNavigation {
  display: flex;
  justify-content: space-between;
}

.navigationItem {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #4fc3f7;
  }

  &:active {
    color: #b3e5fc;
  }
}

.navigationItemActive {
  color: #039be5;
}

.logout {
  padding: 5px 15px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0;
}
