.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.container {
  max-width: 400px;;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.formTitle {
  text-align: center;
  margin-bottom: 20px;
}

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  width: 100%;
  margin-bottom: 15px;
}

.submit {
  margin-bottom: 20px;
}

.warning {
  color: tomato;
  margin-bottom: 15px;
}
